@font-face {
	font-family: 'Gowun Batang';
	font-style: normal;
	font-weight: 400;   /* 400, 700 */
	src: url(/font/GowunBatang-Regular.ttf);
	unicode-range: U+AC00-D7A3;
    /* unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19, U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6; */
}

@font-face {
	font-family: 'LXGW WenKai Mono TC';
	font-style: normal;
	font-weight: 400;
	src: url(/font/LXGWWenKaiMonoTC-Regular.ttf);
	unicode-range: U+4E00-9FAF;
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: url(/font/Poppins-Regular.ttf);
	unicode-range: U+0020-007E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, "LXGW WenKai Mono TC", "Gowun Batang";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f6f6f6;
}

.book {
    width: 320px;    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 20px solid #03a9f4;
    /* border: solid 1px black; */
}

.book h2 {
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.book ul {
    position: relative;
    background: #fff;
}

.book ul li {
    width: 100%;
    list-style: none;
    padding: 10px;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
}

.book ul:hover li {
    opacity: 0.2;
}
.book ul li:hover {
    transform: scale(1.1);
    z-index: 100;
    background: #35bcff;
    box-shadow: 0 5px 25px  rgba(0,0,0,.2);
    color: #fff;
    opacity: 1;
}

.book ul li span {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #25bcff;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600px;
}

.book ul li:hover span {
    background: #fff;
    color: #25bcff;
}