.container {
    width: 100%;
    height: 100vh;
    min-width: 1000px;
    min-height: 500px;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 15%;
    background-color: var(--color-bg);
}
header .descript {
    display: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 15%;
    background-color: #fff;
}
.content {
    width: 100%;
    height: 70%;

    background-image: url(/script/data/image/bul-bg-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #91b9db;
}
.content .books {
    position: absolute;
    top: 30%;
    left: 60%;

    width: 320px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 20px solid var(--color-ul);
}
.content .books h2 {
    color: #fff;
    background: var(--color-ul);
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.content .books ul {
    position: relative;
    background: #fff;
}
.books ul li {
    width: 100%;
    list-style: none;
    padding: 10px;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.books ul p {
    display: none;
}
.books ul span {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #25bcff;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600px;
}
.books ul:hover li {
    opacity: 0.6;
}
.books ul li:hover {
    transform: scale(1.1);
    z-index: 100;
    background-color: var(--color-ul-hover);
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    color: #fff;
    opacity: 1;
}
.books ul li:hover span {
    background: #fff;
    color: #25bcff;
}